[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-orca
name: ICA_Orca
description: Orca MSI file editor
advice: Install on opsi workbench computers only - not intedned for student use
version: 10.1.17763.132
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ica-orca (10.1.17763.132-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  4/18/2019 20:09:59
